@model IEnumerable<fastwebsite.Entities.Order>

@{
    ViewData["Title"] = "Orders Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeCoupon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypePayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeCoupon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypePayment.TypePaymentId)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Orders", new { area = "Admin", id = item.OrderId })" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
